{% extends 'base.html' %}

{% block title %}{{site_title}}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="pb-2 text-primary">
      {% if user.is_authenticated %}
        Welcome, {{user.display_name}}!
      {% else %}
        Hey there, anonymous user!
      {% endif %}
    </h1>
    {% if not user.is_authenticated %}
    <p><a href="{{ url_for('login') }}" class="btn btn-primary">Log in</a> or <a href="{{ url_for('register') }}" class="btn btn-success">Create an Account</a></p>
    {% endif %}

    <div class="row mt-4">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="card mb-3 bg-info text-white">
              <div class="card-title">
                <h1 class="card-title pt-2 pl-3 mt-3">
                  Counter
                </h1>
              </div>
              <div class="card-body">
                <button class="btn btn-lg btn-success" hx-post="/start-connection" hx-swap="outerHTML">Start</button>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="card mb-3 bg-secondary text-white">
              <div class="card-title">
                <h1 class="card-title pt-2 pl-3">
                  Pingpong
                </h1>
              </div>
              <div class="card-body">
                <button class="btn btn-lg btn-warning" hx-post="/pong" hx-swap="outerHTML">Pong</button>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="card mb-3 bg-danger text-white">
              <div class="card-title">
                <h1 class="card-title pt-2 pl-3">
                  Live Stream
                </h1>
              </div>
              <div class="card-body">
                <div class="img">
                  <img class="card-img-top" src="{{ url_for('video') }}" />
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
          {% if user.is_authenticated %}
            <div class="card mb-3 bg-success text-white">
              <div class="card-title">
                <h1 class="card-title pt-2 pl-3">
                  Your QR Code:
                </h1>
              </div>
              <div class="card-body">
                <img class="card-img-top" src="https://api.qrserver.com/v1/create-qr-code/?color=000000&amp;bgcolor=FFFFFF&amp;data=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DSagg08DrO5U&amp;qzone=1&amp;margin=0&amp;size=400x400&amp;ecc=L" alt="qr code" />
              </div>
            </div>
          {% endif %}
        </div>
        <div class="col-sm-12 pt-2 text-center">
            <button onclick="reload()" class="btn btn-lg btn-warning">Refresh</button>
            <button class="btn btn-lg btn-secondary"data-toggle="modal" data-target="#exampleModalCenter">Help</button>
        </div>
    </div>
      
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Hey there, my friend!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to proceed with this action?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-success">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
