<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{site_title}}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        crossorigin="anonymous">
    
    <style>
        @keyframes bounceIn {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
        }

        .alert {
        animation: bounceIn 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }

        img {
        transition: transform 0.5s;
        }

        img:hover {
        transform: rotate(360deg);
        }

    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{site_title_url_target}}">{{site_title}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'index' %} active {% endif %}" href="{{ url_for('index') }}">Hjem</a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'login' %} active {% endif %}" href="{{ url_for('login') }}">Logg inn</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'register' %} active {% endif %}" href="{{ url_for('register') }}">Ny bruker</a>
                    </li>


                    
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'profile' %} active {% endif %}" href="{{ url_for('profile') }}">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'logout' %} active {% endif %}" href="{{ url_for('logout') }}">Logg ut</a>
                    </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="container mt-3">
        {% for category, message in messages %}
        <div class="alert alert-dismissible alert-{{category}}"
        role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>

        {% if "logget ut" in message %}
        <div class="alert alert-dismissible alert-danger"
        role="alert">
        
        <img width="15%"
        src="https://dinopixel.com/preload/0923/Philip-J-Fry.png"

        >
        
        
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endif %}

        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="container mt-3">
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
</body>

</html>
