{% extends 'base.html' %}

{% block title %}{{site_title}}{% endblock %}

{% block content %}
<div class="container">
    <h1>
      {% if user.is_authenticated %}
        Hei {{user.username}}
      {% else %}
        Hei anonym bruker
      {% endif %}
    </h1>
    {% if not user.is_authenticated %}
    <p><a href="{{ url_for('login') }}">Logg inn</a> eller <a href="{{ url_for('register') }}">Lag ny bruker</a> </p>
    {% endif %}
    
    <div class="row">
        <div class="col-sm-12">
          {% if user.is_authenticated %}
          
          <img src="https://api.qrserver.com/v1/create-qr-code/?color=000000&amp;bgcolor=FFFFFF&amp;data=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DSagg08DrO5U&amp;qzone=1&amp;margin=0&amp;size=400x400&amp;ecc=L" alt="qr code" />
          </div>
          <div class="col-sm-12 pt-2">
            <!--

              <button class="btn btn-lg btn-success">Lagre</button>
            -->
            <script>
              function reload(){
                document.location = "/";
              }
            </script>
            <button onclick="reload()" class="btn btn-lg btn-warning">Oppdater</button>
            <button class="btn btn-lg btn-secondary"data-toggle="modal" data-target="#exampleModalCenter">Hjelp</button>
          {% endif %}
          <!--

            <div class="card" style="">
              {% if user.is_authenticated %}
              <div class="card-body">
                <h5 class="card-title">Du er logget inn forresten</h5>
                <p class="card-text">Det er bra, og bedre skal det bli!</p>
                <a href="#" class="btn btn-primary">Hold kjeft</a>
              </div>
              {% else %}
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
              {% endif %}
            </div>
          -->
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Hei min bro</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Er du sikker på at du vil fullføre den handlingen der?
            </div>
            <div class="modal-footer">
              <!--

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              -->
              <button type="button" data-dismiss="modal" class="btn btn-primary">Ja</button>
              <button type="button" data-dismiss="modal" class="btn btn-danger">Nei</button>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}
